# Lists

In [ ]:
#python list creation
list=[1,2,3,4,5,'yash','niteesh',34.5]         #List can contain different types of elememnts which are seperated by commas and enclosed in [] brackets.
list1=[4,5,6]
print(list[0])           #prints 1
print(list[1:3])         #prints 2,3
print(list[::2])
print(list[2::2])

In [2]:
list2=list+list1
print(list2)
list2.append(10)
list2.insert(0,'Ramu')
print(list2)

[1, 2, 3, 4, 5, 'yash', 'niteesh', 34.5, 4, 5, 6]
['Ramu', 1, 2, 3, 4, 5, 'yash', 'niteesh', 34.5, 4, 5, 6, 10]

In [27]:
del(list2[1])
print(list2)
del(list2[5])
print(list2.pop())
print(list2)
list2.extend(['ramu','ravi','revi','niteesh'])
print(list2)
list2.remove('niteesh')
print(list2)

['revi', 6, 5, 4, 5, 4, 3, 2, 'ramu', 'ravi', 'revi']
revi
['revi', 6, 5, 4, 5, 3, 2, 'ramu', 'ravi']
['revi', 6, 5, 4, 5, 3, 2, 'ramu', 'ravi', 'ramu', 'ravi', 'revi', 'niteesh']
['revi', 6, 5, 4, 5, 3, 2, 'ramu', 'ravi', 'ramu', 'ravi', 'revi']

In [5]:
list2.index('ravi')

10

In [6]:
list2.count('niteesh')

0

In [7]:
list2.reverse()
print(list2)

['revi', 'ravi', 'ramu', 6, 5, 4, 34.5, 5, 4, 3, 2, 'Ramu']

# Tuples

In [29]:
# python tuple is another sequence data type that is similar to a list.
# tuples can be thought of as read-only lists
t=("Avinash",786,2.24,"Srinivas",70.4)
t1=(123,"priya")
print(t)              # prints complete tuple
print(t[0])           # prints first element
print(t[1:3])         # elements of tuple starts from 2nd till 3rd
print(t[2:])           # starting from 3rd element
print(t1*2)           # tuple twile
print(t+t1)           # concatinated tuple

('Avinash', 786, 2.24, 'Srinivas', 70.4)
Avinash
(786, 2.24)
(2.24, 'Srinivas', 70.4)
(123, 'priya', 123, 'priya')
('Avinash', 786, 2.24, 'Srinivas', 70.4, 123, 'priya')

# String operations

In [25]:
string="This is the example string for checking if the string containing words where its length is less than 5 letters."
short_words=[word for word in string.split() if len(word)<5]
#Here the .split() method is used to split the words in the given string.
print(short_words)
vowels="aeiouAEIOU"
string1="".join([char for char in string if char not in vowels])
#Here the .join() method is used to join the character into the new string.
print(string1)

['This', 'is', 'the', 'for', 'if', 'the', 'its', 'is', 'less', 'than', '5']
Ths s th xmpl strng fr chckng f th strng cntnng wrds whr ts lngth s lss thn 5 lttrs.

# Functions

In [9]:
def is_perfect(num):
    divisors=[]
    for i in range(1,num):
        if num%i==0:
            divisors.append(i)
    return sum(divisors)==num

num=28
if is_perfect(num):
    print(num," is perfect number")
else:
    print(num," is not a perfect number")

28  is perfect number

In [10]:
def is_prime(num):
    count=0
    for i in range(2,num):
        if num%i==0:
            count+=1
    return count==0
num=17
if is_prime(num):
    print(num," is prime number")
else:
    print(num," is not prime number")

17  is prime number

In [37]:
def is_binary(num):
    for digit in str(num):
        if digit!='0' and digit!='1':
            return False
    return True
num=1010101
if is_binary(num):
    print(num," is binary number")
else:
    print(num," is not a binary number")

1010101  is binary number